<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lottery.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AD8A8B39A6805AA5FBDA03F1417E4B30F55830E2</string>
				<key>dateExpires</key>
				<string>2021/11/9</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD8A8B39A6805AA5FBDA03F1417E4B30F55830E2</string>
						<key>dateExpires</key>
						<string>2021/11/9</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CAXRD24594</string>
						<key>name</key>
						<string>Tianjin Sports Lottery Administration Center</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD8A8B39A6805AA5FBDA03F1417E4B30F55830E2</string>
						<key>dateExpires</key>
						<string>2021/11/9</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CAXRD24594</string>
						<key>name</key>
						<string>Tianjin Sports Lottery Administration Center</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD8A8B39A6805AA5FBDA03F1417E4B30F55830E2</string>
						<key>dateExpires</key>
						<string>2021/11/9</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CAXRD24594</string>
						<key>name</key>
						<string>Tianjin Sports Lottery Administration Center</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD8A8B39A6805AA5FBDA03F1417E4B30F55830E2</string>
						<key>dateExpires</key>
						<string>2021/11/9</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CAXRD24594</string>
						<key>name</key>
						<string>Tianjin Sports Lottery Administration Center</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD8A8B39A6805AA5FBDA03F1417E4B30F55830E2</string>
						<key>dateExpires</key>
						<string>2021/11/9</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CAXRD24594</string>
						<key>name</key>
						<string>Tianjin Sports Lottery Administration Center</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD8A8B39A6805AA5FBDA03F1417E4B30F55830E2</string>
						<key>dateExpires</key>
						<string>2021/11/9</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CAXRD24594</string>
						<key>name</key>
						<string>Tianjin Sports Lottery Administration Center</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD8A8B39A6805AA5FBDA03F1417E4B30F55830E2</string>
						<key>dateExpires</key>
						<string>2021/11/9</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CAXRD24594</string>
						<key>name</key>
						<string>Tianjin Sports Lottery Administration Center</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AD8A8B39A6805AA5FBDA03F1417E4B30F55830E2</string>
						<key>dateExpires</key>
						<string>2021/11/9</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YYModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CAXRD24594</string>
						<key>name</key>
						<string>Tianjin Sports Lottery Administration Center</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>CAXRD24594.com.tjsportslottery.user</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:insight.happy528.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>CAXRD24594</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Lottery.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e4ae4e04-10a4-4bc3-bc63-ac3d1317efa5</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.tjsportslottery.user</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>CAXRD24594</string>
				<key>name</key>
				<string>Tianjin Sports Lottery Administration Center</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
